<div id="footer">
	<div class="row">

		<div class="col-md-6 imageback hidden-sm hidden-xs">
			<%= image_tag('wine.jpg')%>
		</div>

		<div class="col-md-6 blueback">
			<p>Los invitamos a disfrutar de su evento recorriendo mágicamente el mundo de los sabores y aromas haciendo este día, un día inolvidable, generoso y propio.
			</p>
			
			<h4>Síguenos Aquí:</h4>

			<ul class="list-inline banner-social-buttons">
        <li>
            <a href="https://twitter.com/" class="btn-outline" target="_blank"><i class="fa fa-fw fa-twitter"></i></a>
        </li>
        <li>
            <a href="https://facebook.com/" class="btn-outline" target="_blank"><i class="fa fa-fw fa-facebook"></i></a>
        </li>

        <li>
        		<%= mail_to "contacto@gourmetfabregat.cl", class: "btn-outline" do %>
            	<i class="fa fa-fw fa-envelope"></i>
            <% end %>
        </li>
      </ul>

     	<hr> 

     	<div class="row">

	     	<div class="col-sm-6 contactinfo">
	     		<p>(569)7821-0000</p>
	     		<p>contacto@gourmetfabregat.cl</p>
	     	</div>

	     	<div class="col-sm-6 contactinfo">
	     		<p class="right">&copy; 2015 Gourmet Fabregat</p>
	     	</div>
	    </div><!-- .row -->

	    <div class="dev">
	    	<small>hecho con <i class="fa fa-heart-o"></i> por <%= link_to "n.allen", "http://www.nallenanderson.com", target:"_blank", class: "nate" %></small>
	    </div>

    </div><!-- .blueback -->

  </div><!-- .row	 -->

</div>