<div id="heading" class="text-center">
	<div class="black"></div>
	<div class="languages">
		<%= link_to "English", en_path %>
	</div>

	<div class="heading">
		

		<div class="title">
			
			<h1>Gourmet Fabregat</h1>
			<h3>&</h3>
			<h3 class="special">Company</h3>
			<h2><strong class="head-one hidden-xs"></strong>Experiencias culinarias inolvidables<strong class="head-two hidden-xs"></strong></h2>

			<%= link_to "Contacto!", "#contact", class: "btn btn-lg home-button page-scroll" %>
			
		</div><!-- .title -->

	</div><!-- .heading	 -->
		
</div><!-- #heading -->