<section id="info">

	<div class="container">

		<div class="row">

			<div class="col-md-3">

				<h1 class="main-text">
					<span class="little">Nuestra</span> Filosofía
				</h1>

			</div><!-- .col-md-4 -->

			<div class="col-md-9">

				<p class="lead">
					Nos creamos en 2015 con la convicción de satisfacer una necesidad no cubierta principalmente en las empresas que requieren un servicio de <span class="highlight">catering de alta calidad</span>.
				</p>

				<p class="lead">
					Nuestros fundamentos están dados por dar siempre lo mejor, ricos sabores, materiasprimas de excelencia, una puesta en escena atractiva, puntualidad y ofreciendo una experiencia total en catering que todos recordaran.
				</p>

				<p class="highlight">Hacemos relaciones, no transacciones, con quienes confiaron en nosotros.</p>

			</div><!-- .col-md-8 -->

		</div><!-- .row -->

		<hr class="hidden-sm hidden-xs">

		<!-- Start of Second Section  -->
		<div class="row">

			<div class="col-md-4 col-md-push-8">

				<h1 class="main-text">
					<span class="little">Nuestro</span> Estilo
				</h1>

			</div><!-- .col-md-4 -->

			<div class="col-md-8 col-md-pull-4">

				<p class="lead">Brindamos <span class="highlight">soluciones innovadoras</span> de primera calidad, enfocándonos directamente en <span class="highlight">experiencias culinarias inolvidables</span> de banquetearía y eventos a todos aquellos clientes que quieran celebrar algún acontecimiento.  Satisfaciendo plenamente las necesidades, mediante un servicio netamente profesional.</p>

			</div><!-- .col-md-8 -->

		</div><!-- .row -->

		<div class="buttons info text-center">
			<%= link_to "Sample Menu", "#menu", "data-toggle" => "modal", class: "btn btn-lg main-button" %>
		</div><!-- .buttons.text-center -->

	</div><!-- .container -->

</section><!-- #info -->