<section id="info">

	<div class="container">

		<div class="row">

			<div class="col-md-4">

				<h1 class="main-text">
					<span class="little">Nuestra</span> Filosofía
				</h1>

			</div><!-- .col-md-4 -->

			<div class="col-md-8">

				<p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo fringill.</p>

			</div><!-- .col-md-8 -->

		</div><!-- .row -->


		<!-- Start of Second Section  -->
		<div class="row">

			<div class="col-md-4 col-md-push-8">

				<h1 class="main-text">
					<span class="little">Nuestro</span> Estilo
				</h1>

			</div><!-- .col-md-4 -->

			<div class="col-md-8 col-md-pull-4">

				<p class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni.</p>

			</div><!-- .col-md-8 -->

		</div><!-- .row -->

		<div class="buttons info text-center">
			<%= link_to "Sample Menu", "#menu", "data-toggle" => "modal", class: "btn btn-lg main-button" %>
		</div><!-- .buttons.text-center -->

	</div><!-- .container -->

</section><!-- #info -->