<!-- Modals -->
<div class="modal fade text-center" id="menu" tabindex="-1" role="dialog" aria-labelledby="menuModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title" id="menuModalLabel">Sample Menu</h1>
      </div>
      <div class="modal-body">

        <h1>Picadas</h1>
        
        <div class="row">
          <div class="col-md-6">
            <h3>Ravioli</h3>
            <p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts.</p>
          </div>

          <div class="col-md-6">
            <h3>Cous Cous</h3>
            <p>Dandelion cucumber earthnut pea peanut soko zucchini. Parsley shallot courgette tatsoi.</p>
          </div>

          <div class="col-md-6">
            <h3>Roasted Oysters</h3>
            <p>Sea lettuce lettuce chestnut winter fennel azuki  pea sierra leone bologi leek.</p>
          </div>

          <div class="col-md-6">
            <h3>Squash Pickles</h3>
            <p>Fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut broth.</p>
          </div>
        </div>

        <hr>

      	<h1>Platos Principales</h1>
        <div class="item">
            <h2>FALAFEL <a class="veggie"></a></h2>
            <p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.</p>
        </div>

        <div class="item">
            <h2>Chicken <a class="gfree"></a></h2>
            <p>Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress. Corn amaranth nori azuki bean chickweed potato bell pepper artichoke amaranth tatsoi tomatillo melon azuki bean garlic.</p>
        </div>

        <div class="item">
            <h2>Lamb & Steak <a class="gfree"></a></h2>
            <p>Nori beet broccoli kombu beet greens quandong celery. Bunya nuts black-eyed pea greens parsnip. Sea lettuce lettuce water chestnut eggplant winter purslane fennel azuki bean earthnut pea sierra leone bologi leek.</p>
        </div>

        <hr>

        <h1>Postre</h1>
        
        <div class="row">
          <div class="col-md-6">
            <h3>Ravioli <a class="vegan"></a></h3>
            <p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts.</p>
          </div>

          <div class="col-md-6">
            <h3>Cous Cous <a class="veggie"></a></h3>
            <p>Dandelion cucumber earthnut pea peanut soko zucchini. Parsley shallot courgette tatsoi.</p>
          </div>

          <div class="col-md-6">
            <h3>Roasted Oysters <a class="gfree"></a></h3>
            <p>Sea lettuce lettuce chestnut winter fennel azuki  pea sierra leone bologi leek.</p>
          </div>

          <div class="col-md-6">
            <h3>Squash Pickles <a class="gfree"></a></h3>
            <p>Fava bean collard greens dandelion cucumber earthnut pea peanut.</p>
          </div>
        </div>

        <div class="menu-bottom">
        
          <div class="pull-left">
            <h3><a class="gfree"></a> gluten free</h3>
            <h3><a class="veggie"></a> Vegetarian</h3>
          </div>

          <button type="button" class="btn second-button pull-right" data-dismiss="modal">Close</button>

        </div><!-- .menu-bottom -->
       
      </div>
      
    </div>
  </div>
</div>
