<section id="what" class="text-center">

	<div class="container">

		<div class="row">

			<div class="col-md-6">

				<p>Weddings, birthdays, Mitzvahs both Bar and Bat, our new space is great for intimate gatherings of friends and families. When you're with us, you'll feel like you're home. Take a look around!</p>

			</div><!--.col-md-6-->

			<div class="col-md-6">

				<p>We love entertaining and will take any opportunity to do so. If you already have a space picked out, we're happy to host. If it's important to you, it's important to us. We'll work to make it perfect.</p>

			</div><!--.col-md-6-->

		</div><!-- .row -->

		<div class="buttons">
			<%= link_to "El Nuestro", '#', class: "btn second-button" %> 
			<span class="button-text">or this other thing</span> 
			<%= link_to "El Suyo", '#', class: "btn second-button" %>
		</div><!-- .buttons.text-center -->

	</div><!-- .other -->
		
</section><!--#heading-->