<p>Hola <%= @resource.email %>!</p>

<p class="lead">Has pedido un cambio de contraseña en el sitio www.gourmetfabregat.cl.  Puedes hacer una nueva contraseña al hacer clic en el enlace que sigue.</p>

<p class="lead"><%= link_to 'Cambiar contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<h2>Equipo Gourmet Fabregat</h2>
